requests>=2.31.0
pytest>=8.0.0
pytest-html>=4.1.1
openai>=1.0.0
python-dotenv>=1.0.0
playwright>=1.40.0


# export OPENAI_API_KEY=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