name: Automation Tests

on:
  push:
  workflow_dispatch:

jobs:
  automation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r automation/requirements.txt
          playwright install --with-deps

      - name: Set environment variables
        run: |
            echo "BASE_URL=${{ secrets.BASE_URL }}" >> $GITHUB_ENV
            echo "ADMIN_USERNAME=${{ secrets.ADMIN_USERNAME }}" >> $GITHUB_ENV
            echo "ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}" >> $GITHUB_ENV
            echo "USER_USERNAME=${{ secrets.USER_USERNAME }}" >> $GITHUB_ENV
            echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV
      
      - name: Run tests
        run: |
          pytest automation --html=report.html --self-contained-html

      - name: Publish report
        uses: actions/upload-artifact@v4
        with:
          name: automation-report
          path: report.html
